# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# vite
/dist

# misc
.DS_Store
*.pem
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo

*.jpeg
*.jpg
